@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="home-image">
            <div class="center vertical">
                <div class="header-text">
                    <h1>FIND YOUR INSPIRATION</h1>
                    <p>
                        <a class="btn btn-default purpleBtn btn-lg left-btn">
                            Sign In
                        </a>
                        <a class="btn btn-default registerBtn btn-lg right-btn">
                            Register
                        </a>
                    </p>
                </div>
            </div>  
    </div>
</div>

