@model DesignDirect.Models.IdeaboardViewModels.IdeaboardDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Ideaboard.Title)</h4>
    <hr />

    @foreach (var image in @Model.Images)
    {
        <img src="@Html.DisplayFor(modelItem => image.Source)">
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
